@page "/releases"

<!DOCTYPE html>
<html lang="en">

<style>
   
    .hover-grow {
        transition: transform 0.5s ease; 
    }

    .hover-grow:hover {
        transform: scale(1.1); 
    }

   
    .link-container {
        display: block;
        width: 100%;
        height: 100%;
    }
</style>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">

<PageTitle>Releases | zipack.net</PageTitle>

<div class="relative flex flex-col items-center">
   
    <span class="text-black font-staatliches text-4xl md:text-6xl lg:text-7xl leading-tight mb-2 w-[300px] text-center">
        Releases
    </span>

    
    <h1 class="animate__animated animate__zoomIn">
        <a href="/download" class="link-container">
           
            <div
                class="w-[300px] h-[300px] bg-black overflow-auto p-6 hover-grow rounded-xl flex flex-col items-center justify-center">
               
                <span class="block text-white font-staatliches text-3xl md:text-4xl lg:text-5xl text-center my-4">
                    Alpha Version
                </span>

              
                <span class="block text-white font-sulphur-point text-lg md:text-xl lg:text-2xl text-center">
                    V1.0.0 - Untested
                </span>
            </div>
        </a>
    </h1>
</div>

</body>
</html>
