<!DOCTYPE html>
<html lang="en">
<body>
<div class="main-container">
    <!-- Navigation -->
    <div class="rectangle">
        <a href="/" class="zipack">zipack</a>
        
        <a href="/" class="button hvr-grow">
            Home
        </a>
        <a href="/news" class="button hvr-grow">
            News
        </a>
        <a href="/releases" class="button hvr-grow">
            Releases
        </a>
        <a href="/team" class="button hvr-grow">
            Team
        </a>
        <a href="/legal" class="button hvr-grow">
            Legal
        </a>

        <!-- Sprachumschaltung -->
        <div class="language-switcher">
            <img id="language-flag" src="./assets/images/GreatBritainFlag.png" alt="GB Flagge" onclick="switchLanguage()" />
        </div>

        <!-- Download Button -->
        <div class="text-center mt-8 relative group">
            <button class="download-button">
                Download
            </button>
            
            <a href="/download" class="absolute inset-0" aria-label="Download"></a>
        </div>
        <div class="line"></div>
    </div>
    
    <div class="content">
       
    </div>
</div>

<script>
    // JavaScript für Sprachumschaltung
    let isGerman = false; // Initiale Sprache ist Englisch (false bedeutet Englisch)

    function switchLanguage() {
        const flagImage = document.getElementById('language-flag');
        
        if (isGerman) {
            // Ändere die Flagge auf Großbritannien und setze die Sprache auf Englisch
            flagImage.src = './assets/images/GreatBritainFlag.png';
            isGerman = false;
            // Hier könnte man die Seite auf Englisch umschalten
            console.log('Sprache auf Englisch umgestellt');
        } else {
            // Ändere die Flagge zurück zur Deutschland-Flagge und setze die Sprache auf Deutsch
            flagImage.src = './assets/images/GermanFlag.png';
            isGerman = true;
            // Hier könnte man die Seite auf Deutsch umschalten
            console.log('Sprache auf Deutsch umgestellt');
        }
    }
</script>
</body>
</html>
