<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
          content="Zip file opener, file manager, extract zip, open files, all-in-one file solution, file compression, file extractor">
    <meta name="description"
          content="Zip files, extract archives, and manage all your documents with ease. Zipack is your all-in-one file solution for opening, compressing, and organizing files.">
    <meta property="og:title" content="Zipack | All-in-One File Solution"/>
    <meta property="og:description"
          content="Zipack is the ultimate file manager, allowing you to easily open, compress, and organize all your files in one place."/>
    <meta property="og:image" content="https://www.zipack.net/assets/images/preview.png"/>
    <meta property="og:url" content="https://www.zipack.net"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="Zipack | All-in-One File Solution"/>
    <meta name="twitter:description"
          content="Zipack is the ultimate file manager, allowing you to easily open, compress, and organize all your files in one place."/>
    <meta name="twitter:image" content="https://www.zipack.net/assets/images/preview.jpg"/>
    <meta name="language" content="en">

    <base href="/"/>
    
    <link rel="stylesheet" href="@Assets["tailwind.css"]"/>
    <link rel="stylesheet" href="@Assets["app.css"]"/>
    <link rel="stylesheet" href="@Assets["zipackFrontend.styles.css"]"/>
    <link rel="stylesheet" href="@Assets["assets/fonts/fonts.css"]"/>
    

    <link href="lib/animate.min.css" rel="stylesheet">
    <link href="lib/hover-min.css" rel="stylesheet">

    <ImportMap/>

    <link rel="icon" type="image/png" href="favicon.png"/>

    <script src="assets/tailwind.txt"></script>

    <HeadOutlet/>
</head>

<body>
<Routes @rendermode="InteractiveServer" />
<script src="_framework/blazor.web.js"></script>
</body>

</html>