@font-face {
    font-family: 'RacingSansOne';
    src: url('/assets/fonts/RacingSansOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sulphur Point';
    src: url('/assets/fonts/SulphurPoint-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
    
@font-face {
    font-family: 'Staatliches';
    src: url('/assets/fonts/Staatliches-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-racing-sans-one {
    font-family: 'RacingSansOne', sans-serif;
}

.font-sulphur-point {
    font-family: 'Sulphur Point', sans-serif;
}

.font-staatliches {
    font-family: 'Staatliches', sans-serif;
}
